# docker compose run --rm init creates .env with random values.
# This file documents Compose settings; do not copy it before running init.
RINBOT_BIND_HOST='127.0.0.1'
RINBOT_PORT='8080'
MYSQL_PASSWORD=''
MYSQL_ROOT_PASSWORD=''
REDIS_PASSWORD=''
MINIO_ROOT_USER=''
MINIO_ROOT_PASSWORD=''
