nonebot2[fastapi]
nonebot-adapter-onebot
redis
httpx
requests
curl_cffi
pyyaml
websockets
minio
Pillow
SQLAlchemy[asyncio]
aiomysql
cryptography
PicImageSearch
pyquery
beautifulsoup4
pixivpy3
nonebot-plugin-apscheduler
nonebot-plugin-parser[ytdlp,emosvg]
playwright
pyffish==0.0.90
